<h1>New Cliente</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for="cliente_name">Name</label> <br>
    <input type="text" id="cliente_name" name="name" ngModel> <br>
  </div>

  <div>
    <label for="cliente_rg">Registro Geral</label> <br>
    <input type="number" id="cliente_rg" name="rg" ngModel> <br>
  </div>

  <div>
    <label for="cliente_telefone">Telefone</label> <br>
    <input type="text" id="cliente_telefone" name="telefone" ngModel> <br>
  </div>

  <div>
    <label for="cliente_email">Email</label> <br>
    <input type="text" id="cliente_email" name="email" ngModel> <br>
  </div>

  <div>
    <label for="cliente_profissao">Profissão</label> <br>
    <input type="text" id="cliente_profissao" name="profissao" ngModel> <br>
  </div>

  <div>
    <label for="cliente_rua">Rua</label> <br>
    <input type="text" id="cliente_rua" name="rua" ngModel> <br>
  </div>

  <div>
    <label for="cliente_numero">Numero</label> <br>
    <input type="number" id="cliente_numero" name="numero" ngModel> <br>
  </div>

  <div>
    <label for="cliente_cidade">Cidade</label> <br>
    <input type="text" id="cliente_cidade" name="cidade" ngModel> <br>
  </div>

  <div>
    <label for="cliente_estado">Estado</label> <br>
    <input type="text" id="cliente_estado" name="estado" ngModel> <br>
  </div>


  <input type="submit" id="create_cliente_button" value="Create Cliente">
</form>

<a>Back</a>
