<div class="container">
    <app-opcoes-clientes></app-opcoes-clientes>
    <div style="overflow: auto;">
        <table>
            <thead>
                <tr>
                    <th> Nome <i class="fa fa-sort-down"></i> </th>
                    <th> Tipo De Cliente <i class="fa fa-sort-down"></i> </th>
                    <th>Status <i class="fa fa-sort-down"></i> </th>
                    <th>Ações <i class="fa fa-sort-down"></i> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 5, currentPage: paginaAtual };">
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.tipo }}</td>
                    <td> Ativo </td>
                    <td>
                        <div class="actions">
                            <button><img src="https://img.icons8.com/metro/20/000000/search.png" alt="" /></button>
                            <button><img src="https://img.icons8.com/metro/20/000000/edit-property.png" alt="" /></button>
                            <button><img src="https://img.icons8.com/metro/20/000000/delete.png" alt="" /></button>  
                        </div>
                    </td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
            </pagination-controls>
        </table>
    </div>
</div>